*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#todo-container{
    width:400px;
    background:rgb(185, 245, 53);
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

input[type="text"]{
    width:70%;
    padding:8px;
    margin-right:5px;
}

button{
    padding:8px 12px;
    cursor:pointer;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px;
    border-bottom:1px solid #74508d;
}

.edit-btn,
.delete-btn{
    margin-left:5px;
    border:none;
    background:none;
    cursor:pointer;
}

.edit-btn{
    color:#007BFF;
}

.delete-btn{
    color:red;
}